<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>hello page</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
  <h1>Favourite Beers</h1>
  <table class="table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Fav Beer</th>
      </tr>
    </thead>
    <tbody>
      {% for name, beer in fave_beer.items() %}
      <tr>
        <td>{{name}}</td>
        <td>{{beer}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
