<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Playlists</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
  <h1>My Playlists</h1>
  <table class="table-bordered">
    <thead>
      <tr>
        <th>Playlist</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
      {% for playlist in playlists %}
      <tr>
        <td>{{playlist.get('title')}}</td>
        <td>{{playlist.get('creator')}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
